.post {
  padding: 20px;
  display: flex;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 100ms ease-in-out;
  border-radius: 5px;
}

.post:hover {
  transform: scale(1.03);
}

.post img {
  max-width: 280px;
  max-height: 200px;
  margin-right: 20px;
  border-radius: 5px;
}

.post_content {
  text-align: justify;
}

.post_content p {
  margin-top: 10px;
  text-align: justify;
}

@media only screen and (max-width: 425px) {
  .post img {
    max-width: 120px;
    max-height: 120px;
  }
  .post_content {
    width: 210px;
    margin: 0px;
    padding: 0px;
    text-align: justify;
  }
}
