.container {
  min-height: 100vh;
  background-color: #eaeaea;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.posts {
  display: flex;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  flex-wrap: wrap;
  gap: 20px;
}

.sidebar {
  justify-content: center;
  display: flex;
  transform: none;
  width: 350px;
  margin: 0 auto;
}
